<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>月哥哥~</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">数据表</a></li>
    <li><a href="#">基本内容</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    
    <div class="tools">

    	<ul class="toolbar">
        <li class="click add"><span><img src="__PUBLIC__/admin/images/t01.png" /></span>添加</li>
        <li><span><img src="__PUBLIC__/admin/images/t03.png" /></span>删除</li>
        <li><span><img src="__PUBLIC__/admin/images/t04.png" /></span>统计</li>
        </ul>

    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th><input name="" class="ckbox" type="checkbox" value="" /></th>
        <th>ID<i class="sort"><img src="__PUBLIC__/admin/images/px.gif" /></i></th>
        <th>角色名</th>
        <th>权限</th>
        <th>状态</th>
        <th>操作</th>

        </tr>
        </thead>
        <tbody>

<foreach name="list" item="v">
        <tr>
        <td width="5%"><input name="" class="ckbox1" type="checkbox" value="{$v.re_id}" /></td>
        <td width="5%">{$v.re_id}</td>
        <td width="20%">
            {$v.re_name}
        </td>
        <td width="40%">{$v.ru_names}</td>
        <td><img src="__PUBLIC__/admin/images/<?php echo empty($v['re_status'])?'no':'yes';?>.gif" alt=""/></td>
        <td>
            <a href=" __URL__/get_rule/id/{$v.re_id}" class="tablelink">分配权限</a>
            <a href=" __URL__/role_edit/id/{$v.re_id}" class="tablelink">修改 </a>
            <a href=" __URL__/role_del/id/{$v.re_id}" onclick="if(confirm('确定删除！')==false)return false;" class="tablelink"> 删除</a></td>
        </tr>
</foreach>

        </tbody>
    </table>


        <!-- page  -just-2015/02/29 -->
        <include file="Public/page"/>
        <!-- page End -->
    
    </div>

    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>

    <script type="text/javascript" src="__PUBLIC__/admin/js/admin/check.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            fade();
            $('.add').bind('click',function(){
                window.location.href="/admin/Role/role_add";
            })
        });

        function fade(){
            $(".click").click(function(){
                //$(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function(){
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function(){
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function(){
                $(".tip").fadeOut(100);
            });
        }

        function add(){

        }
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
