<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/select-ui.min.js"></script>


<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

<div class="place">
    <span>添加博客</span>
 
    </div>
    
    <div class="formbody">
    
    
    <div id="usual1" class="usual"> 
    
    <div class="itab">
  	<ul> 
    <li><a href="#tab1" class="selected" >发布博客</a></li> 
    
  	</ul>
    </div> 
    
  	<div id="tab1" class="tabson">
    
   
    <form name="form1" method="post" action="{:U('Admin/Content/addcontent')}" enctype="multipart/form-data">
    <ul class="forminfo">
    <li><label>标题<b>*</b></label><input name="title" type="text" class="dfinput" value=""  style="width:518px;"/></li>
   
     <li><label>作者<b></b></label><input name="author" type="text" class="dfinput" value="" size="20" style="width:518px;"/></li>
    
    <li><label>分类<b></b></label>
    
    <div class="vocation">
    <select class="select1" name="c_id">
	<foreach name="list" item="vo">
    <option value="{$vo.id}">{$vo.title}</option>
    </foreach>
    </select>
    </div>
    
    
    
    </li>
	  <li><label>描述</label><textarea name="excerpt" cols="" rows="" class="textinput"></textarea><i>(200字以内)</i></li>
	  
     <li><label>设置时间<b></b></label><input name="time" type="text" readonly="readonly" class="dfinput" value="<php> echo date("Y-m-d H:i:s");</php>"  style="width:518px;"/></li>
	  <li><label>缩略图</label><input type="file" name="imgpath"/>
    <li><label>内容<b></b></label>
<input type="hidden" id="content" name="content" value="" style="display:none"><input type="hidden" id="content___Config" value="" style="display:none">
<iframe id="content___Frame" src="__PUBLIC__/Admin/fckeditor/editor/fckeditor.html?InstanceName=content&amp;Toolbar=Normal" width="100%" height="320" frameborder="0" scrolling="no" style="margin: 0px; padding: 0px; border: 0px; background-color: transparent; background-image: none; width: 100%; height: 320px;"></iframe>

    
    
    </li>
    <li><label>&nbsp;</label><input name="button" type="submit" class="btn" value="马上发布"/></li>
    </ul>
    </form>
    </div> 
    
    
  	
       
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
    
    
    
    
    
    </div>


</body>

</html>
