<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>修改密码</span>
    
    </div>
    
    <div class="formbody">
    <form name="form1" method="post" action="__SELF__">
	<input name="uid" type="hidden" value="{$list.id}" class="dfinput" />
    <div class="formtitle"><span>修改信息</span></div>
    
    <ul class="forminfo">
     <li><label>昵称</label><input name="realname" type="text" value="{$list.realname}" class="dfinput" /><i></i></li>
    <li><label>用户名称</label><input name="username" type="text" value="{$list.username}" class="dfinput" readonly="readonly"/><i></i></li>
   <li><label>密码</label><input name="password" type="password" class="dfinput" value="" /><i></i></li>
   <li><label>重复密码</label><input name="repassword" type="password" class="dfinput" value="" /><i></i></li>
  
    <li><label>&nbsp;</label><input name="button" type="submit" class="btn" value="确认保存"/></li>
    </ul>
    
    </form>
    </div>


</body>

</html>
